body {
    width: 600px;
    height: 400px;

    margin: 0;
    padding: 8px;

    border: none;
}

.container {
    height: 100%;
    width: 100%;

    font-family: sans-serif;
    color: rgb(40, 40, 40);

    display: flex;
    flex-direction: column;
}

.chatbox {
    height: 100%;

    overflow: auto;
    margin-bottom: 8px;
}

.chatbox p {
    margin: 0;
}

.input-bar {
    width: 100%;

    display: flex;
    gap: 8px;
}

.input-bar input {
    width: 100%;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(210, 210, 210);

    padding: 8px;
    border-radius: 8px;
}

.input-bar input:focus {
    outline: none;
}

.input-bar button {
    background-color: rgb(210, 210, 210);

    border: none;
    border-radius: 8px;

    cursor: pointer;

    padding: 8px;
}